/* CSS Document */
*{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial;
    list-style:none;
    color: none;
    background-color: rgb(20, 20, 70);
     color: white;
}
/* navigation bar */
#navbar{
    display: flex;
    height: 90px;
    width:100%;
    justify-content: space-evenly;
    background-color:rgb(10, 10, 60); 
    padding-top:10px;
    padding-left:20px;
    position: fixed;
}
.left{
    font-size: 44px;
     padding-top:10px;
    color:rgb(128, 2, 2);
    background-color: rgb(10, 10, 60);
    font-family:  monospace;
}
.right ul li a{
   background-color: rgb(10, 10, 60);
   color:rgb(187, 176, 176)
}
.right ul li a:hover{
    background-color: rgb(10, 10, 60);
    color:rgb(33, 181, 62);
}
.right
{
    ul
    {
        display: flex;
        height: 80px;
        width:1000px;
        justify-content: space-evenly;
        font-size: 25px;
        background-color: rgb(10, 10, 60); 
        align-items: center;
    }
}

/* main */
/* sec1 */
#sec1{
    padding-top:50px;
    height: 800px;
    width: 100%;
    background-color: rgb(20, 20, 70);
}
.intro{
    padding-top: 120px;
     padding-left: 120px;
    display: flex;
    justify-content: space-between;
    height:620px;
}
.right-section {
    width: 60%;
    height:600px;
    background-image: url(images/picup.png);
    background-size: cover;
}

.left-section{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    font-size: 40px;
}

/* about me section */

#about-me{
    padding:170px 60px;
    height: 800px;
}
.about-me-content{
    border:10px solid rgb(83, 83, 91);
    border-radius: 14px;
      background-color: rgb(83, 83, 91);
}
#about-me h1{
    font-size: 4.5rem;
    color: rgba(46, 163, 184, 0.886);
    text-align: center ;
      background-color: rgb(83, 83, 91);
} 
.about-me-content pre{
    background-color: rgb(83, 83, 91);
    font-size: 2rem;
    color:white;
}
.collab{
    font-size:3rem;
    display: flex;
    justify-content: center;
    background-color:rgb(83, 83, 91) ;
}

/* projects section */

/* skills section */
#skills{
    height:600px;
}
#skills h2{
    font-size:60px;
    text-align: center;
    padding: 20px;
    color: red;
}
#java{
    font-size:100px;
    
}
/* contact me section */

#contact{
    color:red;
    font-size:60px;
    text-align: center;
    padding: 20px;
}
form{
    display:flex;
    justify-content: space-evenly;
    padding: 20px;
}
#phone,#email,#subject,#name{
    border:10px solid black;
    background-color: rgba(255, 255, 255, 0.497);
    border-radius: 25px;
    font-size: 3rem;
}
input{
    font-size:20px;
    padding:10px;
}
textarea{
    display: flex;
    justify-content: center;
    font-size:20px;
    border:10px solid black;
}
#message{
    padding-left: 20px;
    padding-top: 10px;
}

/* footer section */
.footer{
    padding:30px;
    background-color: rgb(10, 10, 60);
    height:370px;
    width:100%;
}
.footer h3{
    text-align: center;
    font-size: 45px;
      background-color: rgb(10, 10, 60);
}
.footer ul{
        display: flex;
        height: 80px;
        font-size: 30px;
        justify-content: center;
        gap: 50px;
        background-color: rgb(10, 10, 60); 
}
.footer ul li {
   background-color: rgb(10, 10, 60);
}
.footer ul li a{
    background-color: rgb(10, 10, 60);
        color:rgb(187, 176, 176);
}
/* Red border */
hr{
    border-top: 2px solid red;
}
.linkedin,.github,.insta{
    font-size:50px;
    background-color: rgb(10, 10, 60);
}
.footer p{
    text-align: center;
      background-color: rgb(10, 10, 60);
    font-size: 20px;
    padding: 20px;
}