/* CSS Document */
*{
    padding: 0;
    margin: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: Arial;
    list-style:none;
    color: none;
    background-color: rgb(20, 20, 70);
     color: white;
}
/* navigation bar */
#navbar{
    display: flex;
    height: 90px;
    width:100%;
    justify-content: space-evenly;
    background-color:rgb(10, 10, 60); 
    padding-top:10px;
    padding-left:20px;
    position: fixed;
}
.left{
    font-size: 44px;
     padding-top:10px;
    color:rgb(128, 2, 2);
    background-color: rgb(10, 10, 60);
    font-family:  monospace;
}
.right ul li a{
   background-color: rgb(10, 10, 60);
   color:rgb(187, 176, 176)
}
.right ul li a:hover{
    background-color: rgb(10, 10, 60);
    color:rgb(33, 181, 62);
}
.right
{
    ul
    {
        display: flex;
        height: 80px;
        width:1000px;
        justify-content: space-evenly;
        font-size: 25px;
        background-color: rgb(10, 10, 60); 
        align-items: center;
    }
}

/* main */
/* sec1 */
#sec1{
    padding-top:50px;
    height: 800px;
    width: 100%;
    background-color: rgb(20, 20, 70);
}
.intro{
    padding-top: 120px;
     padding-left: 120px;
    display: flex;
    justify-content: space-between;
    height:620px;
}

.right-section {
    width: 60%;
    height:600px;
    background-image: url(images/mobileoppic.png);
    background-size: cover;
}

.left-section{
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    font-size: 40px;
}

/* about me section */

#about-me{
    padding:170px 60px;
    height: 800px;
}
.about-me-content{
    border:8px solid rgb(10, 10, 60);
    border-radius: 14px;
      background-color:  rgb(10, 10, 60);
}
#about-me h1{
    font-size: 4.5rem;
    color: rgba(46, 163, 184, 0.886);
    text-align: center ;
      background-color:  rgb(10, 10, 60);
}  
.about-me-content pre{
    background-color: rgb(10, 10, 60);
    font-size : 2rem;
    color:white;
}
.collab{
    font-size:3rem;
    display: flex;
    justify-content: center;
    background-color: rgb(10, 10, 60) ;
    padding: 20px;
}

/* projects section */

/* skills section */
#skills{
    height:800px;
    padding-top: 120px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
}
#skills h2{
    font-size:70px;
    text-align: center;
    padding: 20px;
    color: red;
}
.skills-content{
    padding-top: 50px;
}
.skills-content ul{
    padding: 80px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
.skills-content p{
    font-size: 45px;
}
#java,#html,#css,#js{
    font-size:100px;
}
/* footer section */
.footer{
    padding:30px;
    background-color: rgb(10, 10, 60);
    height:370px;
    width:100%;
}
.footer h3{
    text-align: center;
    font-size: 45px;
      background-color: rgb(10, 10, 60);
}
.footer ul{
        display: flex;
        height: 80px;
        font-size: 30px;
        justify-content: center;
        gap: 50px;
        background-color: rgb(10, 10, 60); 
}
.footer ul li {
   background-color: rgb(10, 10, 60);
}
.footer ul li a{
    background-color: rgb(10, 10, 60);
        color:rgb(187, 176, 176);
}
/* Red border */
hr{
    border-top: 2px solid red;
}
.linkedin,.github,.insta{
    font-size:50px;
    background-color: rgb(10, 10, 60);
}
.footer p{
    text-align: center;
      background-color: rgb(10, 10, 60);
    font-size: 20px;
    padding: 20px;
}


/* ------ css for small screens ------- */
@media only screen and (max-width:900px){
    .right-section{
         background-image: url(images/pic.png);
            background-size: cover;
    }
}
@media only screen and (max-width:500px){
    .right-section{
         background-image: url(images/pic.png);
            background-size: contain;
    }
}

@media only screen and (max-width:800px){
    #navbar{
        padding:0;
        margin:0;
        font-size:10px;
        gap:2px;
    }
}
@media only screen and (max-width:1500px){
    .about-me-content pre{
         font-size : 1rem;
    }
}
    @media only screen and (max-width:800px){
    .about-me-content pre{
         font-size : 1rem;
    }
}
    @media only screen and (max-width:500px){
    .about-me-content pre{
         font-size : 0.4rem;
    }
}
    @media only screen and (max-width:500px){
    #navbar{
        padding:0;
        margin:0;
        font-size:10px;
        gap:2px;
    }
}

